/* content */

.leftBlock, .rightBlock {
    float: left;
    width: 200px;
}
.centerBlock
{
    float: left;
    width: 550px;
}

 .rightBlock {
    float: left;
     padding-left: 20px;
    width: 180px;
}

.rangeSlider {
    padding: 0px 10px;
}

.rangeSlider input.rangeSliderFrom,
.rangeSlider input.rangeSliderTo {
    display: none;
    margin: 0;
}

.offer2 {
    background: white;
    border: 1px solid black;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 12px;
}

.offer {
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    opacity: 0.9;
}
.btnPrice {
    font-size: 11px;
    float: left;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    opacity: 0.9;
}

.header{
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: #f6a828;
    text-align: left;
    color: black;
    padding: 5px;
    
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    opacity: 0.9;
    width: 100%;
}

select {
    width: 155px;
}

.boldsize {
    font-weight: bold;
    font-size: 16px;
    margin-top: 5px;
    color: black;
}