@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<h3>Поиск авиабилетов:</h3>



<div class="leftBlock">
   
    <p data-bind="text: aviaFormModel.error"></p>
    откуда <br />
    <select id="fromCity" data-bind="options: aviaFormModel.cities, selectedOptions: aviaFormModel.fromCity"></select><br />
    куда<br />
    <select id="toCity" data-bind="options: aviaFormModel.cities, selectedOptions: aviaFormModel.toCity"></select><br />
    дата вылета<br />
    <input type="text" data-bind="datepicker: aviaFormModel.fromDate" /><br />
    дата прилёта<br />
    <input type="text" data-bind="datepicker: aviaFormModel.toDate" /><br />
    <input type="radio" name="searchType" value="byPrice" data-bind="checked: aviaFormModel.searchType" /> по цене<br />
    <input type="radio" name="searchType" value="bySchedule" data-bind="checked: aviaFormModel.searchType"/> по расписанию<br />
    <button id="submit" data-bind="click: search" >Найти</button>

</div>


<div class="centerBlock">
    <div id="textInfo">
        Нажмите кнопку найти для  отображения результатов
    </div>
    <div data-bind="visible: aviaFormModel.searchType() == 'bySchedule' && aviaScheduleModel.flightFrom().length > 0">
        ПОИСК ПО РАСПИСАНИЮ:
        <span data-bind="text: aviaFormModel.fromCity()"> </span> -  <span data-bind="text: aviaFormModel.toCity()"> </span>
        <span data-bind="text:  moment(aviaFormModel.fromDate()).format('DD.MM.YYYY')"> </span>
        <div data-bind="foreach: {data: aviaScheduleModel.flightFrom, as: 'flight'}">
            <div  class="offer">
                <span data-bind="text: flight.airlineCode"></span>-<span data-bind="text: flight.number"></span>
                <span data-bind="text: flight.date"></span>
                <span data-bind="text: flight.route"></span>
                <span data-bind="text: flight.time"></span>
            </div>
        </div>
        
        <span data-bind="text: aviaFormModel.toCity()"> </span> -  <span data-bind="text: aviaFormModel.fromCity()"> </span>
        <span data-bind="text:  moment(aviaFormModel.toDate()).format('DD.MM.YYYY')"> </span>
        <div data-bind="foreach: {data: aviaScheduleModel.flightTo, as: 'flight'}">
            <div  class="offer">
                <span data-bind="text: flight.airlineCode"></span>-<span data-bind="text: flight.number"></span>
                <span data-bind="text: flight.date"></span>
                <span data-bind="text: flight.route"></span>
                <span data-bind="text: flight.time"></span>
            </div>
        </div>
    </div>
    
    <div data-bind="visible: aviaFormModel.searchType() == 'byPrice' && aviaPriceModel.offers().length > 0">
        ПОИСК ПО ЦЕНЕ:
        <div data-bind="foreach: {data: filteredOffers, as: 'offer'}">
            <div class="offer">
                <button class="btnPrice" data-bind="text: 'купить за:' + offer.price()" ></button>
                <div data-bind="foreach: {data: offer.flights, as: 'flight'}" >
                    <span data-bind="text: flight.airlineCode"></span>-<span data-bind="text: flight.number"></span>
                    <span data-bind="text: flight.date"></span>
                    <span data-bind="text: flight.route"></span>
                    <span data-bind="text: flight.time"></span><br />
                </div>
            </div>
        </div>
    </div>
</div>



<div class="rightBlock" data-bind="if: aviaFilterModel">
    Авиакомпания <br />
    <div data-bind="foreach: {data: aviaFilterModel().airlines, as: 'airline'}" >
        <input type="checkbox" data-bind="value:airline.code, checked:airline.checked" /> <span data-bind="text:airline.code"></span><br />
    </div>
    Вылет
    c <span data-bind="text: aviaFilterModel().fromTimeStart"></span>   
    до <span data-bind="text:  aviaFilterModel().fromTimeEnd"></span>
    <div class="rangeSlider" data-bind="rangeSlider: { minFrom: aviaFilterModel().minFromTimeStart(), maxTo: aviaFilterModel().maxFromTimeEnd(), from: aviaFilterModel().fromTimeStart(), to: aviaFilterModel().fromTimeEnd()}">
        <input type="text" disabled class="rangeSliderFrom" data-bind="value: aviaFilterModel().fromTimeStart" />
        <input type="text" disabled class="rangeSliderTo" data-bind="value: aviaFilterModel().fromTimeEnd" />
        <div class="slider"></div>
    </div>    

     Прилёт
@*    c <span data-bind="text: aviaFilterModel().toTimeStart"></span>   *@
@*    до <span data-bind="text: aviaFilterModel().toTimeEnd"></span>*@
@*    <div class="rangeSlider" data-bind="rangeSlider: { minFrom: aviaFilterModel().minToTimeStart, maxTo: aviaFilterModel().maxToTimeStart, from: aviaFilterModel().toTimeStart, to: aviaFilterModel().toTimeEnd }">*@
@*        <input type="text" disabled class="rangeSliderFrom" data-bind="value: aviaFilterModel().toTimeStart" />*@
@*        <input type="text" disabled class="rangeSliderTo" data-bind="value: aviaFilterModel().toTimeEnd" />*@
@*        <div class="slider"></div>*@
@*    </div>   *@

</div>



